.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

* {
    font-family: 'Karla', sans-serif;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
}
.top_component{
    padding:5%;
}
.bottom_component{
    background-color: hsl(179, 62%, 43%);
}
.single_price h2 {
    color: hsl(179, 62%, 43%);
    padding-bottom: 1rem;
}
.single_price h4 {
    color: hsl(71, 73%, 54%);
    padding-bottom: 1rem;
}
.single_price p {
    color: hsl(218, 22%, 67%);
    padding-bottom: 1rem;
    line-height: 1.5rem;
}  
.info{
    display: flex;
} 
.price{
    width: 50%;
}